* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.div {
  height: 300px;
}
table {
  width: 627px;
  text-align: center;
  border-collapse: collapse;
  caption-side: bottom;
}
td {
  border: solid #332;
}
tbody tr:nth-child(even) {
  background: #ccc;
}
