.colorr {
  font-size: 30px;
  border-style: dashed;
  border-radius: 50px;
}
body {
  background-image: url(../jpg/lap8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #7f91a1;
}
.back {
  border-bottom-right-radius: 20px;
  background: rgb(95, 92, 92);
}
.backk {
  background: rgb(56, 55, 55);
  border-bottom-right-radius: 50px;
}
.backkk {
  background: rgb(27, 25, 25);
}
